body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #918e8e;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
button {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="text"],
input[type="number"] {
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.item-name {
  display: inline-block;
  width: 60%;
}

.item-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-actions button {
  flex: 0 0 48%; /* Define a largura dos botões */
}

.item-quantity {
  display: inline-block;
  width: 20%;
  font-weight: bold;
  color: #007bff;
}

li:last-child {
  margin-bottom: 0;
}

button.remove-button {
  background-color: #dc3545;
}

button.remove-button:hover {
  background-color: #c82333;
}